@media only (max-width: 420px) {
}

@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('../fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "SF UI Display Medium";
	scroll-behavior: smooth;
	background-image: url(../images/background/Capsule_Icon5.png);
	background-size: cover;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	letter-spacing: 4px;
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.98)
}

li, a, button {
	text-decoration: none;
	font-family: "SF UI Display Bold";
}

li, a {
	color: #A3AAAE;
}

button {
	color: #ffffff;
	outline: none;
}

h1 {
	font-family: "SF UI Display Heavy";
	font-size: 100px;
	margin: 0;
}

h2 {
	font-family: "SF UI Display Heavy";
	margin: 0;
	font-size: 60px;
}

@media (max-width: 420px) {
	h1 {
		/**more stuff here**/
	}

	h2 {
		/**more stuff here**/
	}
}

.main-title {
	margin-top: 25vh;
	text-align: center;
	padding: 1em;
}

.main-title .text {
	margin: 0;
}

.main-title .text h3 {
	font-family: "SF UI Display Bold";
	font-size: 25px;
	color: #A3AAAE;
	margin: 0;
}

.main-title .text h1 {
	color: #ffffff;
}

#logo {
	margin-right: 40px;
	width: 180px;
	border-radius: 30%;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

#logo:hover {
	opacity: 80%;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a{
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
	color: #8080ff;
}

button {
	padding: 9px 25px;
	background-color: #8080ff;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	opacity: 80%;
}

.footer {
	text-align: center;
	color: #ffffff;
	padding: 145px;
}

#Home {
	padding: 170;
	height: 100px;
	  color: #ffffff;
}

#about {
	padding: 170;
	height: 100px;
	color: #ffffff;
}

#features {
	padding: 170;
	height: 100px;
	color: #ffffff;
}

#preformance {
	padding: 170;
	height: 100px;
	color: #ffffff;
}

#Team {
	padding: 170;
	height: 100px;
	color: #ffffff;
}

.wrapHead {
	width: 90%;
	margin: 0 auto;
	transition: all ease-in-out 0.5s;
}

.wrapHead.fixed-to-top {
	width: 96%;
}

section {
	height: 100vh;
	justify-content: center;
	z-index: 0;
}

section h1 {
	align-content: center;
	text-transform: capitalize;
	text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.2);
}

p {
	text-transform: capitalize;
}